certifi>=2023.7.22
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
dataclasses==0.8
Flask==2.0.2
idna==3.3
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
ParamUnittest==0.2
requests==2.26.0
typing-extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
xlrd==1.2.0
zipp==3.6.0
